# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS / Linux
.DS_Store

# Logs
*.log
